@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Execise 1</p>
    <form method="post">
        <p>Input:<input type="text" name="currency" id="currency" /></p>
        <p><input type="submit" name="btnSubm" value="Submit" /></p>
        <p><label id="teste">@Html.ViewData["ret"]</label></p>
    </form>

    <div>
    </div>
    
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.maskMoney.min.js" type="text/javascript"></script>
<script>
    $(function() {
      $('#currency').maskMoney();
    })
</script>
